@import "tailwindcss";
@config "../../tailwind.config.mjs";

@font-face {
	font-family: "Cabinet Grotesk";
	src: url("/fonts/CabinetGrotesk-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-heading font-medium;
	}
}
